.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    background-color: var(--pico-background-color);
    height: 100%;
    width: 20em;
    transition: transform var(--pico-transition);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: var(--pico-box-shadow);
}

.main-menu.open {
    transform: translateX(0);
}

.main-menu div {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
}

.main-menu div button {
    justify-self: flex-end;
    display: flex;
}

.main-menu div button svg {
    align-self: flex-start;
}

.main-menu nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-menu nav ul {
    width: 100%;
    /*padding-left: 1em;*/
}

.main-menu nav ul:first-of-type {
    margin-left: 0;
    flex-grow: 1;
}

.main-menu ul li {
    background: var(--pico-secondary-background);
    margin-top: 0.15em;
    padding-left: 1em;
}

.main-menu ul li a[aria-current="page"] {
    color: var(--pico-color);
    pointer-events: none;
}