aside {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    background-color: var(--pico-background-color);
    height: 100%;
    width: 20em;
    transition: transform var(--pico-transition);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

aside.open {
    transform: translateX(0);
}

aside div {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
}

aside div button {
    justify-self: flex-end;
    display: flex;
}

aside div button svg {
    align-self: flex-start;
}

aside nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

aside nav ul {
    width: 100%;
    /*padding-left: 1em;*/
}

aside nav ul:first-of-type {
    margin-left: 0;
    flex-grow: 1;
}

aside ul li {
    background: var(--pico-secondary-background);
    margin-top: 0.15em;
    padding-left: 1em;
}

aside ul li .active {
    color: var(--pico-color);
    pointer-events: none;
}