.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.overlay.hidden {
    display: none;
    backdrop-filter: blur(0px);
}